// Basics
$white: #fff;
$black: #000;
$transparent: transparent;

// Greys
$darkgrey: #333;
$grey: #666;
$lightgrey: #ccc;
$lightergrey: #f4f4f4;

// Theme
$red: #be1e2d;
$bootstrap-success: #28a745;
