* {
  font-family: Palatino;
  font-size: 14px;
}

body {
margin: 30px auto;
}

.container {
  margin: 30px auto;
}

.active {
  display: block;
}

a {
  color: $white;
  &:hover,
  &:active,
  &:visited {
    color: $white;
    text-decoration: none;
    cursor: pointer;
  }
}
