<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/main.js"></script>
</head>

<body>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="title">Movie Title</label>
                <input type="text" class="form-control form-input" id="title" placeholder="Joker">
            </div>
            <div class="form-group">
                <label for="budget">Budget</label>
                <input type="text" class="form-control form-input" id="budget" placeholder="12100">
            </div>
            <div class="form-group">
                <label for="year">Year</label>
                <input type="text" class="form-control form-input" id="year" placeholder="2016">
            </div>
        </form>
        <button type="button" id="update-btn" class="col-4 col-lg-3 btn btn-prim" disabled>Update</button>
        <a class="col-4 col-lg-3 btn btn-sec" href="home.html">Done</a>
    </div>
</body>

</html>