<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/main.js"></script>
</head>

<body>
    <div class="container">
        <div id="movies-container" class="row"></div>
        <div class="row actions">
            <div class="col">
                <a class="btn btn-prim btn-circle btn-circle-lg float-right" href="add.html?type=add">
                    <i class="btn-icon btn-icon-lg btn-icon-plus"></i>
                </a>
            </div>
        </div>
    </div>
</body>

</html>